/* home.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('/static/users/images/res.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    width: 350px;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

a.button {
    display: inline-block;
    padding: 10px 15px;
    background: #ff7e5f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background 0.3s ease;
}

a.button:hover {
    background: #feb47b;
}
