{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'users/signup.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form method="post" id="signupForm">
                {% csrf_token %}
                <h1>Sign Up</h1>
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
                <span class="switch">Already have an account? <a href="{% url 'login' %}">Login</a></span>
            </form>
        </div>
    </div>
</body>
<footer>
    <script src="{% static 'users/script.js' %}"></script>
</footer>
</html>
